*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    /* height: 30vh; */
}
body{
        background-color: whitesmoke;
        /* margin: 50px; */
        overflow-y: hidden;

}
nav{
    display: flex;
    min-height: 60px;
    background-color: white;
    justify-content: space-evenly;
}
nav > h2{
    display: flex;
    align-items: center;
    width: 30%;
    margin-left: 40px;
}
.list{
    display: flex;
    list-style: none;
    gap: 40px;
    align-items: center;
    font-size: 1rem;
}

nav .list{
    width: 70%;
}


nav .btn{
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: #e8f1ff;
    padding: 10px 20px;
    color: #0b71f9;
    font-size: 16px;
    margin: 6px 19px;
}


.Hero{
 
    margin-top: 8%;
    margin-left: 8%;

    display: grid;
    grid-template-columns: 1.05fr 0.9fr;
    gap: 32px;

}
.hero-text{
    width: 70%;
}

.hero-text h1{
    font-size: 45px;
    font-weight: 750;
    line-height: 1.3;
}
.highlight{
    color: #0b71f9;
}

.BOOK{
    margin-top: 30px;
    padding: 15px 35px;
    border: none;
    border-radius: 13px;
    background-color: #0b71f9;
    color: white;
    font-size: 17px;
    cursor: pointer;
}

.hero-img{
    width: 50%;
    display: flex;
    position: relative;
    justify-content: right;
    align-items: center;
    transform: scale(2);
    transform: translatex(120);

}